<div class="books-container">
  <h2>Read in 2025</h2>
  <div class="book-grid">
    
    <div class="book-card">
      <div class="book-cover">
        <img src="/images/bookCovers/life30.jpg" alt="Book Title" >
      </div>
    </div>
    
    <div class="book-card">
      <div class="book-cover">
        <img src="/images/bookCovers/2001.jpg" alt="Book Title">
      </div>
    </div>

    <div class="book-card">
      <div class="book-cover">
        <img src="/images/bookCovers/HowWeLearn.jpg" alt="Book Title">
      </div>
    </div>

    <div class="book-card">
      <div class="book-cover">
        <img src="/images/bookCovers/AMonsterCalls.jpg" alt="Book Title" >
      </div>
    </div>

    <div class="book-card">
      <div class="book-cover">
        <img src="/images/bookCovers/NotesFromUnderground.jpg" alt="Book Title">
      </div>
    </div>

    <div class="book-card">
      <div class="book-cover">
        <img src="/images/bookCovers/LetterstoAYoungPoet.jpg" alt="Book Title">
      </div>
    </div>

    <div class="book-card">
      <div class="book-cover">
        <img src="/images/bookCovers/BloodMeridian.jpg" alt="Book Title">
      </div>
    </div>

    <div class="book-card">
      <div class="book-cover">
        <img src="/images/bookCovers/TheWorldsISee.jpg" alt="Book Title">
      </div>
    </div>
    
    <div class="book-card">
      <div class="book-cover">
        <img src="/images/bookCovers/Algernon.jpg" alt="Book Title">
      </div>
    </div>

  </div>



<nav class="floating-navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/work">Work</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="/books" class="active">Books</a></li>
    <li><a href="/photos">Photography</a></li>
  </ul>
</nav>